@font-face {
    font-family: inter;
    src: url("../fonts/Inter-Medium.otf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: inter;
    src: url("../fonts/Inter-Light.otf");
    font-style: normal;
    font-weight: 200;
}

.course-container {
    width: 100%;
    min-height: 100vh;
}