li.page-item a,
input,
select,
.accordion-button {
  outline: none !important;
  box-shadow: none !important;
  user-select: none !important;
}

.offcanvas {
  box-shadow: none;
}

.recharts-layer .recharts-pie-sector {
  outline: none;
  border: 0;
}